{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hotel.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ hotel.image }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ hotel.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ hotel.type }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ hotel.url }}</td>
            </tr>
            <tr>
                <th>Adult_only</th>
                <td>{{ hotel.adultOnly ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hotel_index') }}">back to list</a>

    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
