{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1>Ville</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ ville.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ville_index') }}">back to list</a>

    <a href="{{ path('ville_edit', {'id': ville.id}) }}">edit</a>

    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
